# Shared Variables
ARCHIVE_PATH=./archive

# Collector
OPENSKY_CLIENT_ID=xxx
OPENSKY_CLIENT_SECRET=xx
POLL_INTERVAL=100s

# Shipper
SFTP_ADDR=localhost:23
SFTP_USER=u12345
SFTP_KEY_FILE=/etc/downline/storagebox
SFTP_KNOWN_HOSTS_FILE=/etc/downline/known_hosts
SFTP_DIR=tier1